<p id="notice"><%= notice %></p>

<h1>Adventues</h1>

<table>
  <thead>
    <tr>
      <th>Carla</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adventues.each do |adventue| %>
      <tr>
        <td><%= adventue.carla %></td>
        <td><%= link_to 'Show', adventue %></td>
        <td><%= link_to 'Edit', edit_adventue_path(adventue) %></td>
        <td><%= link_to 'Destroy', adventue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adventue', new_adventue_path %>
